toolkit/components/imdi/imdi_md_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dcr="http://www.isocat.org"
           xmlns:ann="http://www.clarin.eu">
 <xs:import namespace="http://www.w3.org/XML/1998/namespace"
            schemaLocation="http://www.w3.org/2001/xml.xsd"/>
 <xs:simpleType name="simpletype-Date-1---">
  <xs:restriction base="xs:string">
   <xs:pattern value="([0-9]+)((-[0-9]+)(-[0-9]+)?)?(/([0-9]+)((-[0-9]+)(-[0-9]+)?)?)?|Unknown|Unspecified"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-Continent-0-4-1---">
  <xs:restriction base="xs:string">
   <xs:enumeration value="Unknown" dcr:datcat="http://www.isocat.org/datcat/DC-2591"/>
   <xs:enumeration value="Unspecified" dcr:datcat="http://www.isocat.org/datcat/DC-2592"/>
   <xs:enumeration value="Africa"/>
   <xs:enumeration value="Asia"/>
   <xs:enumeration value="Europe"/>
   <xs:enumeration value="Australia"/>
   <xs:enumeration value="Oceania"/>
   <xs:enumeration value="North-America"/>
   <xs:enumeration value="Middle-America"/>
   <xs:enumeration value="South-America"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-Interactivity-5-3-4-1---">
  <xs:restriction base="xs:string">
   <xs:enumeration value="Unknown"/>
   <xs:enumeration value="Unspecified"/>
   <xs:enumeration value="interactive"/>
   <xs:enumeration value="non-interactive"/>
   <xs:enumeration value="semi-interactive"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-PlanningType-5-3-4-1---">
  <xs:restriction base="xs:string">
   <xs:enumeration value="Unknown"/>
   <xs:enumeration value="Unspecified"/>
   <xs:enumeration value="spontaneous"/>
   <xs:enumeration value="semi-spontaneous"/>
   <xs:enumeration value="planned"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-Involvement-5-3-4-1---">
  <xs:restriction base="xs:string">
   <xs:enumeration value="Unknown"/>
   <xs:enumeration value="Unspecified"/>
   <xs:enumeration value="elicited"/>
   <xs:enumeration value="non-elicited"/>
   <xs:enumeration value="no-observer"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-SocialContext-5-3-4-1---">
  <xs:restriction base="xs:string">
   <xs:enumeration value="Unknown"/>
   <xs:enumeration value="Unspecified"/>
   <xs:enumeration value="Family"/>
   <xs:enumeration value="Private"/>
   <xs:enumeration value="Public"/>
   <xs:enumeration value="Controlled environment"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-EventStructure-5-3-4-1---">
  <xs:restriction base="xs:string">
   <xs:enumeration value="Unknown"/>
   <xs:enumeration value="Unspecified"/>
   <xs:enumeration value="Monologue"/>
   <xs:enumeration value="Dialogue"/>
   <xs:enumeration value="Conversation"/>
   <xs:enumeration value="Not a natural format"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-Channel-5-3-4-1---">
  <xs:restriction base="xs:string">
   <xs:enumeration value="Unknown"/>
   <xs:enumeration value="Unspecified"/>
   <xs:enumeration value="Face to Face"/>
   <xs:enumeration value="Experimental setting"/>
   <xs:enumeration value="Broadcasting"/>
   <xs:enumeration value="Telephone"/>
   <xs:enumeration value="wizard-of-oz"/>
   <xs:enumeration value="Human-machine dialogue"/>
   <xs:enumeration value="Other"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-Id-1-6-3-4-1---">
  <xs:restriction base="xs:string">
   <xs:pattern value="(ISO639(-1|-2|-3)?:.*)?|(RFC3066:.*)?|(RFC1766:.*)?|(SIL:.*)?|Unknown|Unspecified"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-Dominant-1-6-3-4-1---">
  <xs:restriction base="xs:string">
   <xs:enumeration value="Unspecified"/>
   <xs:enumeration value="Unknown"/>
   <xs:enumeration value="true"/>
   <xs:enumeration value="false"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-SourceLanguage-1-6-3-4-1---">
  <xs:restriction base="xs:string">
   <xs:enumeration value="Unspecified"/>
   <xs:enumeration value="Unknown"/>
   <xs:enumeration value="true"/>
   <xs:enumeration value="false"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-TargetLanguage-1-6-3-4-1---">
  <xs:restriction base="xs:string">
   <xs:enumeration value="Unspecified"/>
   <xs:enumeration value="Unknown"/>
   <xs:enumeration value="true"/>
   <xs:enumeration value="false"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-Age-1-4-4-1---">
  <xs:restriction base="xs:string">
   <xs:pattern value="([0-9]+)?(;[0-9]+)?(.[0-9]+)?(/([0-9]+)?(;[0-9]+)?(.[0-9]+)?)?|Unknown|Unspecified|"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-BirthDate-1-4-4-1---">
  <xs:restriction base="xs:string">
   <xs:pattern value="([0-9]+)((-[0-9]+)(-[0-9]+)?)?(/([0-9]+)((-[0-9]+)(-[0-9]+)?)?)?|Unknown|Unspecified"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-Sex-1-4-4-1---">
  <xs:restriction base="xs:string">
   <xs:enumeration value="Male"/>
   <xs:enumeration value="Female"/>
   <xs:enumeration value="NAP"/>
   <xs:enumeration value="Unspecified"/>
   <xs:enumeration value="Unknown"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-Anonymized-1-4-4-1---">
  <xs:restriction base="xs:string">
   <xs:enumeration value="true"/>
   <xs:enumeration value="false"/>
   <xs:enumeration value="Unknown"/>
   <xs:enumeration value="Unspecified"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-Id-1-14-1-4-4-1---">
  <xs:restriction base="xs:string">
   <xs:pattern value="(ISO639(-1|-2|-3)?:.*)?|(RFC3066:.*)?|(RFC1766:.*)?|(SIL:.*)?|Unknown|Unspecified"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-MotherTongue-1-14-1-4-4-1---">
  <xs:restriction base="xs:string">
   <xs:enumeration value="Unspecified"/>
   <xs:enumeration value="Unknown"/>
   <xs:enumeration value="true"/>
   <xs:enumeration value="false"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-PrimaryLanguage-1-14-1-4-4-1---">
  <xs:restriction base="xs:string">
   <xs:enumeration value="Unspecified"/>
   <xs:enumeration value="Unknown"/>
   <xs:enumeration value="true"/>
   <xs:enumeration value="false"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-Type-0-5-1---">
  <xs:restriction base="xs:string">
   <xs:enumeration value="Unknown" dcr:datcat="http://www.isocat.org/datcat/DC-2591"/>
   <xs:enumeration value="Unspecified" dcr:datcat="http://www.isocat.org/datcat/DC-2592"/>
   <xs:enumeration value="audio" dcr:datcat="http://www.isocat.org/datcat/DC-2653"/>
   <xs:enumeration value="video" dcr:datcat="http://www.isocat.org/datcat/DC-2654"/>
   <xs:enumeration value="image" dcr:datcat="http://www.isocat.org/datcat/DC-2655"/>
   <xs:enumeration value="document" dcr:datcat="http://www.isocat.org/datcat/DC-2656"/>
   <xs:enumeration value="drawing" dcr:datcat="http://www.isocat.org/datcat/DC-2657"/>
   <xs:enumeration value="text" dcr:datcat="http://www.isocat.org/datcat/DC-2658"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-Quality-0-5-1---">
  <xs:restriction base="xs:string">
   <xs:enumeration value="1" dcr:datcat="http://www.isocat.org/datcat/DC-2666"/>
   <xs:enumeration value="2" dcr:datcat="http://www.isocat.org/datcat/DC-2667"/>
   <xs:enumeration value="3" dcr:datcat="http://www.isocat.org/datcat/DC-2668"/>
   <xs:enumeration value="4" dcr:datcat="http://www.isocat.org/datcat/DC-2669"/>
   <xs:enumeration value="5" dcr:datcat="http://www.isocat.org/datcat/DC-2670"/>
   <xs:enumeration value="Unknown" dcr:datcat="http://www.isocat.org/datcat/DC-2591"/>
   <xs:enumeration value="Unspecified" dcr:datcat="http://www.isocat.org/datcat/DC-2592"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-Start-6-0-5-1---">
  <xs:restriction base="xs:string">
   <xs:pattern value="[0-9][0-9]:[0-9][0-9]:[0-9][0-9]:?[0-9]*|Unknown|Unspecified"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-End-6-0-5-1---">
  <xs:restriction base="xs:string">
   <xs:pattern value="[0-9][0-9]:[0-9][0-9]:[0-9][0-9]:?[0-9]*|Unknown|Unspecified"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-Date-7-0-5-1---">
  <xs:restriction base="xs:string">
   <xs:pattern value="([0-9]+)((-[0-9]+)(-[0-9]+)?)?(/([0-9]+)((-[0-9]+)(-[0-9]+)?)?)?|Unknown|Unspecified|"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-Date-1-5-1---">
  <xs:restriction base="xs:string">
   <xs:pattern value="([0-9]+)((-[0-9]+)(-[0-9]+)?)?(/([0-9]+)((-[0-9]+)(-[0-9]+)?)?)?|Unknown|Unspecified|"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-Derivation-1-5-1---">
  <xs:restriction base="xs:string">
   <xs:enumeration value="Unknown" dcr:datcat="http://www.isocat.org/datcat/DC-2591"/>
   <xs:enumeration value="Unspecified" dcr:datcat="http://www.isocat.org/datcat/DC-2592"/>
   <xs:enumeration value="Original"/>
   <xs:enumeration value="Analysis"/>
   <xs:enumeration value="Translation"/>
   <xs:enumeration value="Commentary"/>
   <xs:enumeration value="Criticism"/>
   <xs:enumeration value="Annotation"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-Anonymized-1-5-1---">
  <xs:restriction base="xs:string">
   <xs:enumeration value="true"/>
   <xs:enumeration value="false"/>
   <xs:enumeration value="Unknown" dcr:datcat="http://www.isocat.org/datcat/DC-2591"/>
   <xs:enumeration value="Unspecified" dcr:datcat="http://www.isocat.org/datcat/DC-2592"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-Type-12-1-5-1---">
  <xs:restriction base="xs:string">
   <xs:enumeration value="Unknown" dcr:datcat="http://www.isocat.org/datcat/DC-2591"/>
   <xs:enumeration value="Unspecified" dcr:datcat="http://www.isocat.org/datcat/DC-2592"/>
   <xs:enumeration value="None"/>
   <xs:enumeration value="Formal"/>
   <xs:enumeration value="Content"/>
   <xs:enumeration value="Formal/Content"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-Methodology-12-1-5-1---">
  <xs:restriction base="xs:string">
   <xs:enumeration value="Unknown" dcr:datcat="http://www.isocat.org/datcat/DC-2591"/>
   <xs:enumeration value="Unspecified" dcr:datcat="http://www.isocat.org/datcat/DC-2592"/>
   <xs:enumeration value="Hand"/>
   <xs:enumeration value="Automatic"/>
   <xs:enumeration value="Semi-Automatic"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-Date-13-1-5-1---">
  <xs:restriction base="xs:string">
   <xs:pattern value="([0-9]+)((-[0-9]+)(-[0-9]+)?)?(/([0-9]+)((-[0-9]+)(-[0-9]+)?)?)?|Unknown|Unspecified|"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-Quality-2-5-1---">
  <xs:restriction base="xs:string">
   <xs:enumeration value="1"/>
   <xs:enumeration value="2"/>
   <xs:enumeration value="3"/>
   <xs:enumeration value="4"/>
   <xs:enumeration value="5"/>
   <xs:enumeration value="Unknown"/>
   <xs:enumeration value="Unspecified"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-Start-3-2-5-1---">
  <xs:restriction base="xs:string">
   <xs:pattern value="[0-9]+|Unknown|Unspecified"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-End-3-2-5-1---">
  <xs:restriction base="xs:string">
   <xs:pattern value="[0-9]+|Unknown|Unspecified"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-Start-4-2-5-1---">
  <xs:restriction base="xs:string">
   <xs:pattern value="[0-9][0-9]:[0-9][0-9]:[0-9][0-9]:?[0-9]*|Unknown|Unspecified"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-End-4-2-5-1---">
  <xs:restriction base="xs:string">
   <xs:pattern value="[0-9][0-9]:[0-9][0-9]:[0-9][0-9]:?[0-9]*|Unknown|Unspecified"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-Date-5-2-5-1---">
  <xs:restriction base="xs:string">
   <xs:pattern value="([0-9]+)((-[0-9]+)(-[0-9]+)?)?(/([0-9]+)((-[0-9]+)(-[0-9]+)?)?)?|Unknown|Unspecified|"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="simpletype-Date-1-3-5-1---">
  <xs:restriction base="xs:string">
   <xs:pattern value="([0-9]+)((-[0-9]+)(-[0-9]+)?)?(/([0-9]+)((-[0-9]+)(-[0-9]+)?)?)?|Unknown|Unspecified|"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:complexType name="complextype-Date-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-Date-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-Continent-0-4-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-Continent-0-4-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-Interactivity-5-3-4-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-Interactivity-5-3-4-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-PlanningType-5-3-4-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-PlanningType-5-3-4-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-Involvement-5-3-4-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-Involvement-5-3-4-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-SocialContext-5-3-4-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-SocialContext-5-3-4-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-EventStructure-5-3-4-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-EventStructure-5-3-4-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-Channel-5-3-4-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-Channel-5-3-4-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-Id-1-6-3-4-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-Id-1-6-3-4-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-Dominant-1-6-3-4-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-Dominant-1-6-3-4-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-SourceLanguage-1-6-3-4-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-SourceLanguage-1-6-3-4-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-TargetLanguage-1-6-3-4-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-TargetLanguage-1-6-3-4-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-Age-1-4-4-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-Age-1-4-4-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-BirthDate-1-4-4-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-BirthDate-1-4-4-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-Sex-1-4-4-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-Sex-1-4-4-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-Anonymized-1-4-4-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-Anonymized-1-4-4-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-Id-1-14-1-4-4-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-Id-1-14-1-4-4-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-MotherTongue-1-14-1-4-4-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-MotherTongue-1-14-1-4-4-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-PrimaryLanguage-1-14-1-4-4-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-PrimaryLanguage-1-14-1-4-4-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-Type-0-5-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-Type-0-5-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-Quality-0-5-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-Quality-0-5-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-Start-6-0-5-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-Start-6-0-5-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-End-6-0-5-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-End-6-0-5-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-Date-7-0-5-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-Date-7-0-5-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-Date-1-5-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-Date-1-5-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-Derivation-1-5-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-Derivation-1-5-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-Anonymized-1-5-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-Anonymized-1-5-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-Type-12-1-5-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-Type-12-1-5-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-Methodology-12-1-5-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-Methodology-12-1-5-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-Date-13-1-5-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-Date-13-1-5-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-Quality-2-5-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-Quality-2-5-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-Start-3-2-5-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-Start-3-2-5-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-End-3-2-5-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-End-3-2-5-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-Start-4-2-5-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-Start-4-2-5-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-End-4-2-5-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-End-4-2-5-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-Date-5-2-5-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-Date-5-2-5-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:complexType name="complextype-Date-1-3-5-1---">
  <xs:simpleContent>
   <xs:extension base="simpletype-Date-1-3-5-1---"/>
  </xs:simpleContent>
 </xs:complexType>
 <xs:element name="CMD">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="Header">
     <xs:complexType>
      <xs:sequence>
       <xs:element name="MdCreator" type="xs:string" minOccurs="0"/>
       <xs:element name="MdCreationDate" type="xs:date" minOccurs="0"/>
       <xs:element name="MdSelfLink" type="xs:anyURI" minOccurs="0"/>
       <xs:element name="MdProfile" type="xs:anyURI" minOccurs="0"/>
      </xs:sequence>
     </xs:complexType>
    </xs:element>
    <xs:element name="Resources">
     <xs:complexType>
      <xs:sequence>
       <xs:element name="ResourceProxyList">
        <xs:complexType>
         <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceProxy">
           <xs:complexType>
            <xs:sequence>
             <xs:element maxOccurs="1" minOccurs="1" name="ResourceType">
              <xs:simpleType>
               <xs:restriction base="xs:string">
                <xs:enumeration value="Metadata">
                 <xs:annotation>
                  <xs:documentation>The ResourceProxy
                                                  refers to another component
                                                  metadata instance (e.g. for
                                                  grouping metadata descriptions
                                                  into
                                                  collections)</xs:documentation>
                 </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Resource">
                 <xs:annotation>
                  <xs:documentation>The ResourceProxy
                                                  refers to a file that is not a
                                                  metadata instance (e.g. a text
                                                  document)</xs:documentation>
                 </xs:annotation>
                </xs:enumeration>
               </xs:restriction>
              </xs:simpleType>
             </xs:element>
             <xs:element maxOccurs="1" minOccurs="1" name="ResourceRef" type="xs:anyURI"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
           </xs:complexType>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
       </xs:element>
       <xs:element name="JournalFileProxyList">
        <xs:complexType>
         <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="JournalFileProxy">
           <xs:complexType>
            <xs:sequence>
             <xs:element maxOccurs="1" minOccurs="1" name="JournalFileRef" type="xs:anyURI"/>
            </xs:sequence>
           </xs:complexType>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
       </xs:element>
       <xs:element name="ResourceRelationList">
        <xs:complexType>
         <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceRelation">
           <xs:complexType>
            <xs:sequence>
             <xs:element maxOccurs="1" minOccurs="1" name="RelationType"/>
             <xs:element maxOccurs="1" minOccurs="1" name="Res1">
              <xs:complexType>
               <xs:attribute name="ref" type="xs:IDREF"/>
              </xs:complexType>
             </xs:element>
             <xs:element maxOccurs="1" minOccurs="1" name="Res2">
              <xs:complexType>
               <xs:attribute name="ref" type="xs:IDREF"/>
              </xs:complexType>
             </xs:element>
            </xs:sequence>
           </xs:complexType>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
       </xs:element>
       <xs:element minOccurs="0" name="IsPartOfList">
        <xs:complexType>
         <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="IsPartOf" type="xs:anyURI"/>
         </xs:sequence>
        </xs:complexType>
       </xs:element>
      </xs:sequence>
     </xs:complexType>
    </xs:element>
    <xs:element name="Components">
     <xs:complexType>
      <xs:sequence>
       <xs:element name="Session" minOccurs="1" maxOccurs="1">
        <xs:complexType>
         <xs:sequence>
          <xs:element name="Name" type="xs:string" dcr:datcat="http://www.isocat.org/datcat/DC-2544"/>
          <xs:element name="Title" type="xs:string" dcr:datcat="http://www.isocat.org/datcat/DC-2545"/>
          <xs:element name="Date" dcr:datcat="http://www.isocat.org/datcat/DC-2510"
                      type="complextype-Date-1---"/>
          <xs:element name="descriptions" minOccurs="0" maxOccurs="1">
           <xs:complexType>
            <xs:sequence>
             <xs:element name="Description" dcr:datcat="http://www.isocat.org/datcat/DC-2520"
                         minOccurs="0"
                         maxOccurs="unbounded">
              <xs:complexType>
               <xs:simpleContent>
                <xs:extension base="xs:string">
                 <xs:attribute name="LanguageId" type="xs:string"/>
                </xs:extension>
               </xs:simpleContent>
              </xs:complexType>
             </xs:element>
            </xs:sequence>
            <xs:attribute name="ref" type="xs:IDREF"/>
           </xs:complexType>
          </xs:element>
          <xs:element name="MDGroup" minOccurs="1" maxOccurs="1">
           <xs:complexType>
            <xs:sequence>
             <xs:element name="Location" minOccurs="1" maxOccurs="1">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="Continent" dcr:datcat="http://www.isocat.org/datcat/DC-2531"
                            type="complextype-Continent-0-4-1---"/>
                <xs:element name="Country" type="xs:string"
                            dcr:datcat="http://www.isocat.org/datcat/DC-2532"/>
                <xs:element name="Region" type="xs:string" minOccurs="0" maxOccurs="unbounded"
                            dcr:datcat="http://www.isocat.org/datcat/DC-2533"/>
                <xs:element name="Address" type="xs:string" minOccurs="0"
                            dcr:datcat="http://www.isocat.org/datcat/DC-2528"/>
               </xs:sequence>
               <xs:attribute name="ref" type="xs:IDREF"/>
              </xs:complexType>
             </xs:element>
             <xs:element name="Project" minOccurs="1" maxOccurs="1">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="Name" type="xs:string" dcr:datcat="http://www.isocat.org/datcat/DC-2536"/>
                <xs:element name="Title" type="xs:string" dcr:datcat="http://www.isocat.org/datcat/DC-2537"/>
                <xs:element name="Id" type="xs:string" dcr:datcat="http://www.isocat.org/datcat/DC-2535"/>
                <xs:element name="Contact" minOccurs="1" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1"
                               dcr:datcat="http://www.isocat.org/datcat/DC-2454"/>
                   <xs:element name="Address" type="xs:string" minOccurs="0" maxOccurs="1"/>
                   <xs:element name="Email" type="xs:string" minOccurs="0" maxOccurs="1"
                               dcr:datcat="http://www.isocat.org/datcat/DC-2521"/>
                   <xs:element name="Organisation" type="xs:string" minOccurs="0" maxOccurs="1"
                               dcr:datcat="http://www.isocat.org/datcat/DC-2459"/>
                  </xs:sequence>
                  <xs:attribute name="ref" type="xs:IDREF"/>
                 </xs:complexType>
                </xs:element>
                <xs:element name="descriptions" minOccurs="0" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Description" dcr:datcat="http://www.isocat.org/datcat/DC-2520"
                               minOccurs="0"
                               maxOccurs="unbounded">
                    <xs:complexType>
                     <xs:simpleContent>
                      <xs:extension base="xs:string">
                       <xs:attribute name="LanguageId" type="xs:string"/>
                      </xs:extension>
                     </xs:simpleContent>
                    </xs:complexType>
                   </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ref" type="xs:IDREF"/>
                 </xs:complexType>
                </xs:element>
               </xs:sequence>
               <xs:attribute name="ref" type="xs:IDREF"/>
              </xs:complexType>
             </xs:element>
             <xs:element name="Keys" minOccurs="1" maxOccurs="1">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="Key" minOccurs="0" maxOccurs="unbounded">
                 <xs:complexType>
                  <xs:simpleContent>
                   <xs:extension base="xs:string">
                    <xs:attribute name="Name" type="xs:string"/>
                   </xs:extension>
                  </xs:simpleContent>
                 </xs:complexType>
                </xs:element>
               </xs:sequence>
               <xs:attribute name="ref" type="xs:IDREF"/>
              </xs:complexType>
             </xs:element>
             <xs:element name="Content" minOccurs="1" maxOccurs="1">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="Genre" dcr:datcat="http://www.isocat.org/datcat/DC-2470" type="xs:string"/>
                <xs:element name="SubGenre" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="Task" type="xs:string" minOccurs="0" maxOccurs="1"
                            dcr:datcat="http://www.isocat.org/datcat/DC-2500"/>
                <xs:element name="Modalities" type="xs:string" minOccurs="0" maxOccurs="1"
                            dcr:datcat="http://www.isocat.org/datcat/DC-2490"/>
                <xs:element name="Subject" type="xs:string" minOccurs="0" maxOccurs="1"
                            dcr:datcat="http://www.isocat.org/datcat/DC-2591"/>
                <xs:element name="CommunicationContext" minOccurs="1" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Interactivity" minOccurs="0" maxOccurs="1"
                               dcr:datcat="http://www.isocat.org/datcat/DC-2476"
                               type="complextype-Interactivity-5-3-4-1---"/>
                   <xs:element name="PlanningType" minOccurs="0" maxOccurs="1"
                               dcr:datcat="http://www.isocat.org/datcat/DC-2492"
                               type="complextype-PlanningType-5-3-4-1---"/>
                   <xs:element name="Involvement" minOccurs="0" maxOccurs="1"
                               dcr:datcat="http://www.isocat.org/datcat/DC-2477"
                               type="complextype-Involvement-5-3-4-1---"/>
                   <xs:element name="SocialContext" minOccurs="0" maxOccurs="1"
                               dcr:datcat="http://www.isocat.org/datcat/DC-2493"
                               type="complextype-SocialContext-5-3-4-1---"/>
                   <xs:element name="EventStructure" minOccurs="0" maxOccurs="1"
                               dcr:datcat="http://www.isocat.org/datcat/DC-2469"
                               type="complextype-EventStructure-5-3-4-1---"/>
                   <xs:element name="Channel" minOccurs="0" maxOccurs="1"
                               dcr:datcat="http://www.isocat.org/datcat/DC-2464"
                               type="complextype-Channel-5-3-4-1---"/>
                  </xs:sequence>
                  <xs:attribute name="ref" type="xs:IDREF"/>
                 </xs:complexType>
                </xs:element>
                <xs:element name="Content_Languages" minOccurs="1" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="descriptions" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                     <xs:sequence>
                      <xs:element name="Description" dcr:datcat="http://www.isocat.org/datcat/DC-2520"
                                  minOccurs="0"
                                  maxOccurs="unbounded">
                       <xs:complexType>
                        <xs:simpleContent>
                         <xs:extension base="xs:string">
                          <xs:attribute name="LanguageId" type="xs:string"/>
                         </xs:extension>
                        </xs:simpleContent>
                       </xs:complexType>
                      </xs:element>
                     </xs:sequence>
                     <xs:attribute name="ref" type="xs:IDREF"/>
                    </xs:complexType>
                   </xs:element>
                   <xs:element name="Content_Language" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                     <xs:sequence>
                      <xs:element name="Id" dcr:datcat="http://www.isocat.org/datcat/DC-2482"
                                  type="complextype-Id-1-6-3-4-1---"/>
                      <xs:element name="Name" type="xs:string"/>
                      <xs:element name="Dominant" minOccurs="0" maxOccurs="1"
                                  dcr:datcat="http://www.isocat.org/datcat/DC-2468"
                                  type="complextype-Dominant-1-6-3-4-1---"/>
                      <xs:element name="SourceLanguage" minOccurs="0" maxOccurs="1"
                                  dcr:datcat="http://www.isocat.org/datcat/DC-2494"
                                  type="complextype-SourceLanguage-1-6-3-4-1---"/>
                      <xs:element name="TargetLanguage" minOccurs="0" maxOccurs="1"
                                  dcr:datcat="http://www.isocat.org/datcat/DC-2499"
                                  type="complextype-TargetLanguage-1-6-3-4-1---"/>
                      <xs:element name="descriptions" minOccurs="0" maxOccurs="1">
                       <xs:complexType>
                        <xs:sequence>
                         <xs:element name="Description" dcr:datcat="http://www.isocat.org/datcat/DC-2520"
                                     minOccurs="0"
                                     maxOccurs="unbounded">
                          <xs:complexType>
                           <xs:simpleContent>
                            <xs:extension base="xs:string">
                             <xs:attribute name="LanguageId" type="xs:string"/>
                            </xs:extension>
                           </xs:simpleContent>
                          </xs:complexType>
                         </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ref" type="xs:IDREF"/>
                       </xs:complexType>
                      </xs:element>
                     </xs:sequence>
                     <xs:attribute name="ref" type="xs:IDREF"/>
                    </xs:complexType>
                   </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ref" type="xs:IDREF"/>
                 </xs:complexType>
                </xs:element>
                <xs:element name="Keys" minOccurs="1" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Key" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                     <xs:simpleContent>
                      <xs:extension base="xs:string">
                       <xs:attribute name="Name" type="xs:string"/>
                      </xs:extension>
                     </xs:simpleContent>
                    </xs:complexType>
                   </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ref" type="xs:IDREF"/>
                 </xs:complexType>
                </xs:element>
                <xs:element name="descriptions" minOccurs="0" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Description" dcr:datcat="http://www.isocat.org/datcat/DC-2520"
                               minOccurs="0"
                               maxOccurs="unbounded">
                    <xs:complexType>
                     <xs:simpleContent>
                      <xs:extension base="xs:string">
                       <xs:attribute name="LanguageId" type="xs:string"/>
                      </xs:extension>
                     </xs:simpleContent>
                    </xs:complexType>
                   </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ref" type="xs:IDREF"/>
                 </xs:complexType>
                </xs:element>
               </xs:sequence>
               <xs:attribute name="ref" type="xs:IDREF"/>
              </xs:complexType>
             </xs:element>
             <xs:element name="Actors" minOccurs="1" maxOccurs="1">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="descriptions" minOccurs="0" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Description" dcr:datcat="http://www.isocat.org/datcat/DC-2520"
                               minOccurs="0"
                               maxOccurs="unbounded">
                    <xs:complexType>
                     <xs:simpleContent>
                      <xs:extension base="xs:string">
                       <xs:attribute name="LanguageId" type="xs:string"/>
                      </xs:extension>
                     </xs:simpleContent>
                    </xs:complexType>
                   </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ref" type="xs:IDREF"/>
                 </xs:complexType>
                </xs:element>
                <xs:element name="Actor" minOccurs="0" maxOccurs="unbounded">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Role" type="xs:string" dcr:datcat="http://www.isocat.org/datcat/DC-2559"/>
                   <xs:element name="Name" type="xs:string" dcr:datcat="http://www.isocat.org/datcat/DC-2557"/>
                   <xs:element name="FullName" type="xs:string"
                               dcr:datcat="http://www.isocat.org/datcat/DC-2556"/>
                   <xs:element name="Code" type="xs:string" dcr:datcat="http://www.isocat.org/datcat/DC-2552"/>
                   <xs:element name="FamilySocialRole" type="xs:string"/>
                   <xs:element name="EthnicGroup" type="xs:string"
                               dcr:datcat="http://www.isocat.org/datcat/DC-2555"/>
                   <xs:element name="Age" dcr:datcat="http://www.isocat.org/datcat/DC-2550"
                               type="complextype-Age-1-4-4-1---"/>
                   <xs:element name="BirthDate" dcr:datcat="http://www.isocat.org/datcat/DC-2551"
                               type="complextype-BirthDate-1-4-4-1---"/>
                   <xs:element name="Sex" dcr:datcat="http://www.isocat.org/datcat/DC-2560"
                               type="complextype-Sex-1-4-4-1---"/>
                   <xs:element name="Education" type="xs:string"
                               dcr:datcat="http://www.isocat.org/datcat/DC-2554"/>
                   <xs:element name="Anonymized" dcr:datcat="http://www.isocat.org/datcat/DC-2548"
                               type="complextype-Anonymized-1-4-4-1---"/>
                   <xs:element name="Contact" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                     <xs:sequence>
                      <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1"
                                  dcr:datcat="http://www.isocat.org/datcat/DC-2454"/>
                      <xs:element name="Address" type="xs:string" minOccurs="0" maxOccurs="1"/>
                      <xs:element name="Email" type="xs:string" minOccurs="0" maxOccurs="1"
                                  dcr:datcat="http://www.isocat.org/datcat/DC-2521"/>
                      <xs:element name="Organisation" type="xs:string" minOccurs="0" maxOccurs="1"
                                  dcr:datcat="http://www.isocat.org/datcat/DC-2459"/>
                     </xs:sequence>
                     <xs:attribute name="ref" type="xs:IDREF"/>
                    </xs:complexType>
                   </xs:element>
                   <xs:element name="Keys" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                     <xs:sequence>
                      <xs:element name="Key" minOccurs="0" maxOccurs="unbounded">
                       <xs:complexType>
                        <xs:simpleContent>
                         <xs:extension base="xs:string">
                          <xs:attribute name="Name" type="xs:string"/>
                         </xs:extension>
                        </xs:simpleContent>
                       </xs:complexType>
                      </xs:element>
                     </xs:sequence>
                     <xs:attribute name="ref" type="xs:IDREF"/>
                    </xs:complexType>
                   </xs:element>
                   <xs:element name="descriptions" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                     <xs:sequence>
                      <xs:element name="Description" dcr:datcat="http://www.isocat.org/datcat/DC-2520"
                                  minOccurs="0"
                                  maxOccurs="unbounded">
                       <xs:complexType>
                        <xs:simpleContent>
                         <xs:extension base="xs:string">
                          <xs:attribute name="LanguageId" type="xs:string"/>
                         </xs:extension>
                        </xs:simpleContent>
                       </xs:complexType>
                      </xs:element>
                     </xs:sequence>
                     <xs:attribute name="ref" type="xs:IDREF"/>
                    </xs:complexType>
                   </xs:element>
                   <xs:element name="Actor_Languages" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                     <xs:sequence>
                      <xs:element name="descriptions" minOccurs="0" maxOccurs="1">
                       <xs:complexType>
                        <xs:sequence>
                         <xs:element name="Description" dcr:datcat="http://www.isocat.org/datcat/DC-2520"
                                     minOccurs="0"
                                     maxOccurs="unbounded">
                          <xs:complexType>
                           <xs:simpleContent>
                            <xs:extension base="xs:string">
                             <xs:attribute name="LanguageId" type="xs:string"/>
                            </xs:extension>
                           </xs:simpleContent>
                          </xs:complexType>
                         </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ref" type="xs:IDREF"/>
                       </xs:complexType>
                      </xs:element>
                      <xs:element name="Actor_Language" minOccurs="0" maxOccurs="unbounded">
                       <xs:complexType>
                        <xs:sequence>
                         <xs:element name="Id" dcr:datcat="http://www.isocat.org/datcat/DC-2482"
                                     type="complextype-Id-1-14-1-4-4-1---"/>
                         <xs:element name="Name" type="xs:string"/>
                         <xs:element name="MotherTongue" minOccurs="0" maxOccurs="1"
                                     type="complextype-MotherTongue-1-14-1-4-4-1---"/>
                         <xs:element name="PrimaryLanguage" minOccurs="0" maxOccurs="1"
                                     type="complextype-PrimaryLanguage-1-14-1-4-4-1---"/>
                         <xs:element name="descriptions" minOccurs="0" maxOccurs="1">
                          <xs:complexType>
                           <xs:sequence>
                            <xs:element name="Description" dcr:datcat="http://www.isocat.org/datcat/DC-2520"
                                        minOccurs="0"
                                        maxOccurs="unbounded">
                             <xs:complexType>
                              <xs:simpleContent>
                               <xs:extension base="xs:string">
                                <xs:attribute name="LanguageId" type="xs:string"/>
                               </xs:extension>
                              </xs:simpleContent>
                             </xs:complexType>
                            </xs:element>
                           </xs:sequence>
                           <xs:attribute name="ref" type="xs:IDREF"/>
                          </xs:complexType>
                         </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ref" type="xs:IDREF"/>
                       </xs:complexType>
                      </xs:element>
                     </xs:sequence>
                     <xs:attribute name="ref" type="xs:IDREF"/>
                    </xs:complexType>
                   </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ref" type="xs:IDREF"/>
                 </xs:complexType>
                </xs:element>
               </xs:sequence>
               <xs:attribute name="ref" type="xs:IDREF"/>
              </xs:complexType>
             </xs:element>
            </xs:sequence>
            <xs:attribute name="ref" type="xs:IDREF"/>
           </xs:complexType>
          </xs:element>
          <xs:element name="Resources" minOccurs="1" maxOccurs="1">
           <xs:complexType>
            <xs:sequence>
             <xs:element name="MediaFile" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="ResourceLink" type="xs:string"
                            dcr:datcat="http://www.isocat.org/datcat/DC-2546"/>
                <xs:element name="Type" dcr:datcat="http://www.isocat.org/datcat/DC-2570"
                            type="complextype-Type-0-5-1---"/>
                <xs:element name="Format" dcr:datcat="http://www.isocat.org/datcat/DC-2571"
                            type="xs:string"/>
                <xs:element name="Size" type="xs:string" dcr:datcat="http://www.isocat.org/datcat/DC-2580"/>
                <xs:element name="Quality" dcr:datcat="http://www.isocat.org/datcat/DC-2574"
                            type="complextype-Quality-0-5-1---"/>
                <xs:element name="RecordingConditions" type="xs:string"/>
                <xs:element name="TimePosition" minOccurs="1" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Start" type="complextype-Start-6-0-5-1---"/>
                   <xs:element name="End" minOccurs="0" maxOccurs="1" type="complextype-End-6-0-5-1---"/>
                  </xs:sequence>
                  <xs:attribute name="ref" type="xs:IDREF"/>
                 </xs:complexType>
                </xs:element>
                <xs:element name="Access" minOccurs="1" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Availability" type="xs:string"/>
                   <xs:element name="Date" type="complextype-Date-7-0-5-1---"/>
                   <xs:element name="Owner" type="xs:string"/>
                   <xs:element name="Publisher" type="xs:string"/>
                   <xs:element name="Contact" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                     <xs:sequence>
                      <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1"
                                  dcr:datcat="http://www.isocat.org/datcat/DC-2454"/>
                      <xs:element name="Address" type="xs:string" minOccurs="0" maxOccurs="1"/>
                      <xs:element name="Email" type="xs:string" minOccurs="0" maxOccurs="1"
                                  dcr:datcat="http://www.isocat.org/datcat/DC-2521"/>
                      <xs:element name="Organisation" type="xs:string" minOccurs="0" maxOccurs="1"
                                  dcr:datcat="http://www.isocat.org/datcat/DC-2459"/>
                     </xs:sequence>
                     <xs:attribute name="ref" type="xs:IDREF"/>
                    </xs:complexType>
                   </xs:element>
                   <xs:element name="descriptions" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                     <xs:sequence>
                      <xs:element name="Description" dcr:datcat="http://www.isocat.org/datcat/DC-2520"
                                  minOccurs="0"
                                  maxOccurs="unbounded">
                       <xs:complexType>
                        <xs:simpleContent>
                         <xs:extension base="xs:string">
                          <xs:attribute name="LanguageId" type="xs:string"/>
                         </xs:extension>
                        </xs:simpleContent>
                       </xs:complexType>
                      </xs:element>
                     </xs:sequence>
                     <xs:attribute name="ref" type="xs:IDREF"/>
                    </xs:complexType>
                   </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ref" type="xs:IDREF"/>
                 </xs:complexType>
                </xs:element>
                <xs:element name="descriptions" minOccurs="0" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Description" dcr:datcat="http://www.isocat.org/datcat/DC-2520"
                               minOccurs="0"
                               maxOccurs="unbounded">
                    <xs:complexType>
                     <xs:simpleContent>
                      <xs:extension base="xs:string">
                       <xs:attribute name="LanguageId" type="xs:string"/>
                      </xs:extension>
                     </xs:simpleContent>
                    </xs:complexType>
                   </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ref" type="xs:IDREF"/>
                 </xs:complexType>
                </xs:element>
                <xs:element name="Keys" minOccurs="1" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Key" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                     <xs:simpleContent>
                      <xs:extension base="xs:string">
                       <xs:attribute name="Name" type="xs:string"/>
                      </xs:extension>
                     </xs:simpleContent>
                    </xs:complexType>
                   </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ref" type="xs:IDREF"/>
                 </xs:complexType>
                </xs:element>
               </xs:sequence>
               <xs:attribute name="ref" type="xs:IDREF"/>
              </xs:complexType>
             </xs:element>
             <xs:element name="WrittenResource" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="ResourceLink" type="xs:string"
                            dcr:datcat="http://www.isocat.org/datcat/DC-2546"/>
                <xs:element name="MediaResourceLink" type="xs:string"/>
                <xs:element name="Date" type="complextype-Date-1-5-1---"/>
                <xs:element name="Type" type="xs:string"/>
                <xs:element name="SubType" type="xs:string"/>
                <xs:element name="Format" type="xs:string"/>
                <xs:element name="Size" type="xs:string"/>
                <xs:element name="Derivation" dcr:datcat="http://www.isocat.org/datcat/DC-2518"
                            type="complextype-Derivation-1-5-1---"/>
                <xs:element name="CharacterEncoding" type="xs:string"
                            dcr:datcat="http://www.isocat.org/datcat/DC-2564"/>
                <xs:element name="ContentEncoding" type="xs:string"/>
                <xs:element name="LanguageId" type="xs:string"
                            dcr:datcat="http://www.isocat.org/datcat/DC-2482"/>
                <xs:element name="Anonymized" dcr:datcat="http://www.isocat.org/datcat/DC-2548"
                            type="complextype-Anonymized-1-5-1---"/>
                <xs:element name="Validation" minOccurs="1" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Type" dcr:datcat="http://www.isocat.org/datcat/DC-2587"
                               type="complextype-Type-12-1-5-1---"/>
                   <xs:element name="Methodology" dcr:datcat="http://www.isocat.org/datcat/DC-2586"
                               type="complextype-Methodology-12-1-5-1---"/>
                   <xs:element name="Level" type="xs:string" dcr:datcat="http://www.isocat.org/datcat/DC-2585"/>
                   <xs:element name="descriptions" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                     <xs:sequence>
                      <xs:element name="Description" dcr:datcat="http://www.isocat.org/datcat/DC-2520"
                                  minOccurs="0"
                                  maxOccurs="unbounded">
                       <xs:complexType>
                        <xs:simpleContent>
                         <xs:extension base="xs:string">
                          <xs:attribute name="LanguageId" type="xs:string"/>
                         </xs:extension>
                        </xs:simpleContent>
                       </xs:complexType>
                      </xs:element>
                     </xs:sequence>
                     <xs:attribute name="ref" type="xs:IDREF"/>
                    </xs:complexType>
                   </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ref" type="xs:IDREF"/>
                 </xs:complexType>
                </xs:element>
                <xs:element name="Access" minOccurs="1" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Availability" type="xs:string"/>
                   <xs:element name="Date" type="complextype-Date-13-1-5-1---"/>
                   <xs:element name="Owner" type="xs:string"/>
                   <xs:element name="Publisher" type="xs:string"/>
                   <xs:element name="Contact" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                     <xs:sequence>
                      <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1"
                                  dcr:datcat="http://www.isocat.org/datcat/DC-2454"/>
                      <xs:element name="Address" type="xs:string" minOccurs="0" maxOccurs="1"/>
                      <xs:element name="Email" type="xs:string" minOccurs="0" maxOccurs="1"
                                  dcr:datcat="http://www.isocat.org/datcat/DC-2521"/>
                      <xs:element name="Organisation" type="xs:string" minOccurs="0" maxOccurs="1"
                                  dcr:datcat="http://www.isocat.org/datcat/DC-2459"/>
                     </xs:sequence>
                     <xs:attribute name="ref" type="xs:IDREF"/>
                    </xs:complexType>
                   </xs:element>
                   <xs:element name="descriptions" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                     <xs:sequence>
                      <xs:element name="Description" dcr:datcat="http://www.isocat.org/datcat/DC-2520"
                                  minOccurs="0"
                                  maxOccurs="unbounded">
                       <xs:complexType>
                        <xs:simpleContent>
                         <xs:extension base="xs:string">
                          <xs:attribute name="LanguageId" type="xs:string"/>
                         </xs:extension>
                        </xs:simpleContent>
                       </xs:complexType>
                      </xs:element>
                     </xs:sequence>
                     <xs:attribute name="ref" type="xs:IDREF"/>
                    </xs:complexType>
                   </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ref" type="xs:IDREF"/>
                 </xs:complexType>
                </xs:element>
                <xs:element name="descriptions" minOccurs="0" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Description" dcr:datcat="http://www.isocat.org/datcat/DC-2520"
                               minOccurs="0"
                               maxOccurs="unbounded">
                    <xs:complexType>
                     <xs:simpleContent>
                      <xs:extension base="xs:string">
                       <xs:attribute name="LanguageId" type="xs:string"/>
                      </xs:extension>
                     </xs:simpleContent>
                    </xs:complexType>
                   </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ref" type="xs:IDREF"/>
                 </xs:complexType>
                </xs:element>
                <xs:element name="Keys" minOccurs="1" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Key" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                     <xs:simpleContent>
                      <xs:extension base="xs:string">
                       <xs:attribute name="Name" type="xs:string"/>
                      </xs:extension>
                     </xs:simpleContent>
                    </xs:complexType>
                   </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ref" type="xs:IDREF"/>
                 </xs:complexType>
                </xs:element>
               </xs:sequence>
               <xs:attribute name="ref" type="xs:IDREF"/>
              </xs:complexType>
             </xs:element>
             <xs:element name="Source" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="Id" type="xs:string"/>
                <xs:element name="Format" type="xs:string"/>
                <xs:element name="Quality" type="complextype-Quality-2-5-1---"/>
                <xs:element name="CounterPosition" minOccurs="0" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Start" type="complextype-Start-3-2-5-1---"/>
                   <xs:element name="End" type="complextype-End-3-2-5-1---"/>
                  </xs:sequence>
                  <xs:attribute name="ref" type="xs:IDREF"/>
                 </xs:complexType>
                </xs:element>
                <xs:element name="TimePosition" minOccurs="0" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Start" type="complextype-Start-4-2-5-1---"/>
                   <xs:element name="End" minOccurs="0" maxOccurs="1" type="complextype-End-4-2-5-1---"/>
                  </xs:sequence>
                  <xs:attribute name="ref" type="xs:IDREF"/>
                 </xs:complexType>
                </xs:element>
                <xs:element name="Access" minOccurs="1" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Availability" type="xs:string"/>
                   <xs:element name="Date" type="complextype-Date-5-2-5-1---"/>
                   <xs:element name="Owner" type="xs:string"/>
                   <xs:element name="Publisher" type="xs:string"/>
                   <xs:element name="Contact" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                     <xs:sequence>
                      <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1"
                                  dcr:datcat="http://www.isocat.org/datcat/DC-2454"/>
                      <xs:element name="Address" type="xs:string" minOccurs="0" maxOccurs="1"/>
                      <xs:element name="Email" type="xs:string" minOccurs="0" maxOccurs="1"
                                  dcr:datcat="http://www.isocat.org/datcat/DC-2521"/>
                      <xs:element name="Organisation" type="xs:string" minOccurs="0" maxOccurs="1"
                                  dcr:datcat="http://www.isocat.org/datcat/DC-2459"/>
                     </xs:sequence>
                     <xs:attribute name="ref" type="xs:IDREF"/>
                    </xs:complexType>
                   </xs:element>
                   <xs:element name="descriptions" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                     <xs:sequence>
                      <xs:element name="Description" dcr:datcat="http://www.isocat.org/datcat/DC-2520"
                                  minOccurs="0"
                                  maxOccurs="unbounded">
                       <xs:complexType>
                        <xs:simpleContent>
                         <xs:extension base="xs:string">
                          <xs:attribute name="LanguageId" type="xs:string"/>
                         </xs:extension>
                        </xs:simpleContent>
                       </xs:complexType>
                      </xs:element>
                     </xs:sequence>
                     <xs:attribute name="ref" type="xs:IDREF"/>
                    </xs:complexType>
                   </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ref" type="xs:IDREF"/>
                 </xs:complexType>
                </xs:element>
                <xs:element name="descriptions" minOccurs="0" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Description" dcr:datcat="http://www.isocat.org/datcat/DC-2520"
                               minOccurs="0"
                               maxOccurs="unbounded">
                    <xs:complexType>
                     <xs:simpleContent>
                      <xs:extension base="xs:string">
                       <xs:attribute name="LanguageId" type="xs:string"/>
                      </xs:extension>
                     </xs:simpleContent>
                    </xs:complexType>
                   </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ref" type="xs:IDREF"/>
                 </xs:complexType>
                </xs:element>
                <xs:element name="Keys" minOccurs="1" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Key" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                     <xs:simpleContent>
                      <xs:extension base="xs:string">
                       <xs:attribute name="Name" type="xs:string"/>
                      </xs:extension>
                     </xs:simpleContent>
                    </xs:complexType>
                   </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ref" type="xs:IDREF"/>
                 </xs:complexType>
                </xs:element>
               </xs:sequence>
               <xs:attribute name="ref" type="xs:IDREF"/>
              </xs:complexType>
             </xs:element>
             <xs:element name="Anonyms" minOccurs="0" maxOccurs="1">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="ResourceLink" type="xs:string"/>
                <xs:element name="Access" minOccurs="1" maxOccurs="1">
                 <xs:complexType>
                  <xs:sequence>
                   <xs:element name="Availability" type="xs:string"/>
                   <xs:element name="Date" type="complextype-Date-1-3-5-1---"/>
                   <xs:element name="Owner" type="xs:string"/>
                   <xs:element name="Publisher" type="xs:string"/>
                   <xs:element name="Contact" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                     <xs:sequence>
                      <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1"
                                  dcr:datcat="http://www.isocat.org/datcat/DC-2454"/>
                      <xs:element name="Address" type="xs:string" minOccurs="0" maxOccurs="1"/>
                      <xs:element name="Email" type="xs:string" minOccurs="0" maxOccurs="1"
                                  dcr:datcat="http://www.isocat.org/datcat/DC-2521"/>
                      <xs:element name="Organisation" type="xs:string" minOccurs="0" maxOccurs="1"
                                  dcr:datcat="http://www.isocat.org/datcat/DC-2459"/>
                     </xs:sequence>
                     <xs:attribute name="ref" type="xs:IDREF"/>
                    </xs:complexType>
                   </xs:element>
                   <xs:element name="descriptions" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                     <xs:sequence>
                      <xs:element name="Description" dcr:datcat="http://www.isocat.org/datcat/DC-2520"
                                  minOccurs="0"
                                  maxOccurs="unbounded">
                       <xs:complexType>
                        <xs:simpleContent>
                         <xs:extension base="xs:string">
                          <xs:attribute name="LanguageId" type="xs:string"/>
                         </xs:extension>
                        </xs:simpleContent>
                       </xs:complexType>
                      </xs:element>
                     </xs:sequence>
                     <xs:attribute name="ref" type="xs:IDREF"/>
                    </xs:complexType>
                   </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ref" type="xs:IDREF"/>
                 </xs:complexType>
                </xs:element>
               </xs:sequence>
               <xs:attribute name="ref" type="xs:IDREF"/>
              </xs:complexType>
             </xs:element>
            </xs:sequence>
            <xs:attribute name="ref" type="xs:IDREF"/>
           </xs:complexType>
          </xs:element>
          <xs:element name="References" minOccurs="0" maxOccurs="1">
           <xs:complexType>
            <xs:sequence>
             <xs:element name="descriptions" minOccurs="0" maxOccurs="1">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="Description" dcr:datcat="http://www.isocat.org/datcat/DC-2520"
                            minOccurs="0"
                            maxOccurs="unbounded">
                 <xs:complexType>
                  <xs:simpleContent>
                   <xs:extension base="xs:string">
                    <xs:attribute name="LanguageId" type="xs:string"/>
                   </xs:extension>
                  </xs:simpleContent>
                 </xs:complexType>
                </xs:element>
               </xs:sequence>
               <xs:attribute name="ref" type="xs:IDREF"/>
              </xs:complexType>
             </xs:element>
            </xs:sequence>
            <xs:attribute name="ref" type="xs:IDREF"/>
           </xs:complexType>
          </xs:element>
         </xs:sequence>
         <xs:attribute name="ref" type="xs:IDREF"/>
        </xs:complexType>
       </xs:element>
      </xs:sequence>
     </xs:complexType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
</xs:schema>