src/main/resources/toolkit/xsd/cmd-component.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.0" vc:maxVersion="1.1">

    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2005/08/xml.xsd"/>

    <xs:annotation>
        <xs:appinfo>
            <xsl:key name="enums" match="item" use="."/>
            <sch:phase id="preRegistration">
                <sch:active pattern="h_succ"/>
                <sch:active pattern="r_card"/>
                <sch:active pattern="c_empty"/>
                <sch:active pattern="c_sibs"/>
                <sch:active pattern="c_csibs"/>
                <sch:active pattern="d_dsibs"/>
                <sch:active pattern="e_vs"/>
                <sch:active pattern="v_uri"/>
                <sch:active pattern="a_vs"/>
                <sch:active pattern="a_res"/>
                <sch:active pattern="a_sibs"/>
                <sch:active pattern="c_atts"/>
                <sch:active pattern="c_card"/>
                <sch:active pattern="item"/>
            </sch:phase>
            <sch:phase id="postRegistration">
                <sch:active pattern="h_id"/>
                <sch:active pattern="h_succ"/>
                <sch:active pattern="r_card"/>
                <sch:active pattern="c_empty"/>
                <sch:active pattern="c_sibs"/>
                <sch:active pattern="c_csibs"/>
                <sch:active pattern="d_dsibs"/>
                <sch:active pattern="e_vs"/>
                <sch:active pattern="v_uri"/>
                <sch:active pattern="a_vs"/>
                <sch:active pattern="a_res"/>
                <sch:active pattern="a_sibs"/>
                <sch:active pattern="c_atts"/>
                <sch:active pattern="c_card"/>
                <sch:active pattern="item"/>
            </sch:phase>
        </xs:appinfo>
    </xs:annotation>

    <!-- root element -->
    <xs:element name="ComponentSpec">
        <xs:annotation>
            <xs:appinfo>
                <sch:pattern id="h_id">
                    <sch:title>Check ID</sch:title>
                    <sch:rule context="ComponentSpec">
                        <sch:assert test="normalize-space(Header/ID) != ''">This component has no identifier (yet)!</sch:assert>
                    </sch:rule>
                </sch:pattern>
                <sch:pattern id="h_succ">
                    <sch:title>Check successor</sch:title>
                    <sch:rule context="Header/Successor">
                        <sch:assert test="../Status = 'deprecated'">There can only be a successor component/profile if the status of this component/profile is deprecated!</sch:assert>
                    </sch:rule>
                </sch:pattern>
                <sch:pattern id="r_card">
                    <sch:title>Cardinality root component</sch:title>
                    <sch:rule context="ComponentSpec/Component">
                        <sch:assert test="empty(@CardinalityMin) or @CardinalityMin = '1'">The minimum cardinality of the root component should be 1!</sch:assert>
                        <sch:assert test="empty(@CardinalityMax) or @CardinalityMax = '1'">The maximum cardinality of the root component should be 1!</sch:assert>
                    </sch:rule>
                </sch:pattern>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ID" type="xs:anyURI" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <!-- status information -->
                            <xs:element name="Status" minOccurs="1" maxOccurs="1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="development"/>
                                        <xs:enumeration value="production"/>
                                        <xs:enumeration value="deprecated"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="StatusComment" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="Successor" type="xs:anyURI" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="DerivedFrom" type="xs:anyURI" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Component" type="Component_type">
                    <xs:annotation>
                        <xs:documentation>At the root level there should always be a Component.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="isProfile" type="xs:boolean" use="required"/>
            <xs:attribute name="CMDVersion" fixed="1.2" use="required"/>
            <xs:attribute name="CMDOriginalVersion" use="optional" default="1.2">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="1.1"/>
                        <xs:enumeration value="1.2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <!-- recursive construction: A component can contain elements and/or other components  -->
    <xs:group name="group">
        <xs:annotation>
            <xs:appinfo>
                <sch:pattern id="c_empty">
                    <sch:title>Check for empty components</sch:title>
                    <sch:rule context="Component[(exists(parent::ComponentSpec) or empty(@ComponentRef)) and exists(AttributeList/Attribute)]" role="warning">
                        <sch:assert test="exists((Component, Element))">Component[<sch:value-of select="@name"/>] is empty (according to the ISO 24622-1:2015 Component Metadata model), i.e., contains no component or element!</sch:assert>
                    </sch:rule>
                    <sch:rule context="Component[exists(parent::ComponentSpec) or empty(@ComponentRef)]" role="error">
                        <sch:assert test="exists((Component, Element, AttributeList/Attribute))">Component[<sch:value-of select="@name"/>] is empty, i.e., contains no component, element or attribute!</sch:assert>
                    </sch:rule>
                </sch:pattern>
                <sch:pattern id="c_sibs">
                    <sch:title>Check siblings</sch:title>
                    <sch:rule context="Component | Element">
                        <sch:assert test="empty(preceding-sibling::*[@name = current()/@name])">Sibling components or elements should all have a different name. Found multiple components or elements named '<sch:value-of select="@name"/>'!</sch:assert>
                    </sch:rule>
                </sch:pattern>
                <sch:pattern id="c_csibs">
                    <sch:title>Check component siblings</sch:title>
                    <sch:rule context="Component">
                        <sch:assert test="empty(preceding-sibling::Component[@ComponentRef = current()/@ComponentRef])">Sibling components should all be different. Found multiple components with ID '<sch:value-of select="@ComponentRef"/>'!</sch:assert>
                    </sch:rule>
                </sch:pattern>
                <!-- TODO: check: the names of referenced external components are not known, so we can't currently check if two or more of them use the same name -->
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Documentation" type="Documentation_type" minOccurs="0" maxOccurs="unbounded"/>
            <!-- from small (attribute) to big (component) -->
            <xs:element name="AttributeList" type="AttributeList_type" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Element" type="Element_type" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Component" type="Component_type" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>

    <!-- type definitions -->
    <xs:complexType name="Documentation_type">
        <xs:annotation>
            <xs:documentation>Some information an application (eg Arbil) can display to give guidance to the user when entering metadata.</xs:documentation>
            <xs:appinfo>
                <sch:pattern id="d_dsibs">
                    <sch:title>Check Documentation siblings</sch:title>
                    <sch:rule context="Documentation">
                        <sch:assert test="empty(preceding-sibling::Documentation[@xml:lang = current()/@xml:lang])">Sibling Documentation elements should all be for different languages. Found multiple Documentation elements with xml:lang '<sch:value-of select="@xml:lang"/>'!</sch:assert>
                    </sch:rule>
                </sch:pattern>
            </xs:appinfo>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute ref="xml:lang" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="Element_type">
        <xs:annotation>
            <xs:appinfo>
                <sch:pattern id="e_vs">
                    <sch:title>Check Element ValueScheme</sch:title>
                    <sch:rule context="Element[exists(@ValueScheme) or exists(ValueScheme)]">
                        <sch:assert test="exists(@ValueScheme) != exists(ValueScheme)">An Element must have either a @ValueScheme or a ./ValueScheme!</sch:assert>
                    </sch:rule>
                </sch:pattern>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Documentation" type="Documentation_type" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="AttributeList" type="AttributeList_type" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The AttributeList child of an element contains a set of XML attributes for that element.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="ValueScheme" type="ValueScheme_type">
                <xs:annotation>
                    <xs:documentation>When an element is linked to a regular expression or a controlled vocabulary, the ValueScheme sub-element contains more information about this.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AutoValue" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="element_attributes"/>
    </xs:complexType>

    <xs:complexType name="ValueScheme_type">
        <xs:annotation>
            <xs:appinfo>
                <sch:pattern id="v_uri">
                    <sch:title>Check Vocabulary URI</sch:title>
                    <sch:rule context="Vocabulary[exists(@URI)]">
                        <sch:assert test="exists(@ValueProperty)">When an external vocabulary is used (identified by the @URI) a @ValueProperty has to be specified!</sch:assert>
                    </sch:rule>
                </sch:pattern>
            </xs:appinfo>
        </xs:annotation>
        <xs:choice>
            <xs:element name="pattern" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Specification of a regular expression the element should comply with.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vocabulary" type="Vocabulary_type" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Specification of an open or closed vocabulary</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="Vocabulary_type">
        <xs:sequence>
            <xs:element name="enumeration" type="enumeration_type" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>A list of the allowed values of a controlled vocabulary.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="URI" type="xs:anyURI" use="optional"/>
        <!-- optionally selects a label -->
        <xs:attribute name="ValueProperty" type="xs:string" use="optional"/>
        <!-- optionally selects a language -->
        <xs:attribute name="ValueLanguage" type="xs:language" use="optional"/>
    </xs:complexType>

    <xs:complexType name="AttributeList_type">
        <xs:annotation>
            <xs:appinfo>
                <sch:pattern id="a_vs">
                    <sch:title>Check Attribute ValueScheme</sch:title>
                    <sch:rule context="Attribute[exists(@ValueScheme) or exists(ValueScheme)]">
                        <sch:assert test="exists(@ValueScheme) != exists(ValueScheme)">An Attribute must have either a @ValueScheme or a ./ValueScheme!</sch:assert>
                    </sch:rule>
                </sch:pattern>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Attribute" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:appinfo>
                        <sch:pattern id="a_res">
                            <sch:title>Check reserved attribute names</sch:title>
                            <sch:rule context="Attribute" role="warning">
                                <sch:assert test="not(exists(parent::AttributeList/parent::Component) and @name = ('ref', 'ComponentId'))">Attributes with name 'ref' or 'ComponentId' will not be available in a downgrade to CMDI 1.1!</sch:assert>
                            </sch:rule>
                        </sch:pattern>
                        <sch:pattern id="a_sibs">
                            <sch:title>Check attribute siblings</sch:title>
                            <sch:rule context="Attribute">
                                <sch:assert test="empty(preceding-sibling::Attribute[@name = current()/@name])">All attributes in an attribute list should have a different name. Found multiple attributes named '<sch:value-of select="Name"/>'!</sch:assert>
                            </sch:rule>
                        </sch:pattern>
                    </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Documentation" type="Documentation_type" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="ValueScheme" type="ValueScheme_type" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>For the use of a regular expression or a controlled vocabulary as the type of the attribute.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="AutoValue" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                    <xs:attributeGroup ref="attribute_attributes"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Component_type">
        <xs:group ref="group" minOccurs="0"/>
        <xs:attributeGroup ref="component_attributes"/>
    </xs:complexType>

    <xs:attributeGroup name="attribute_attributes">
        <xs:attribute name="name" type="xs:NCName" use="required">
            <xs:annotation>
                <xs:documentation>The name of the attribute.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ConceptLink" type="xs:anyURI" use="optional">
            <xs:annotation>
                <xs:documentation>A link to the ISOcat data category registry (or any other concept registry).</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ValueScheme" type="allowed_attributetypes_type" use="optional" default="string">
            <xs:annotation>
                <xs:documentation>For the use of simple XML types as the type of the attribute.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Required" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>Is the attribute required or not?</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute namespace="http://www.clarin.eu/cmd/cues/1" processContents="lax"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="element_attributes">
        <xs:attribute name="name" type="xs:NCName" use="required">
            <xs:annotation>
                <xs:documentation>The name of the element.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ConceptLink" type="xs:anyURI" use="optional">
            <xs:annotation>
                <xs:documentation>A link to the ISOcat data category registry (or any other concept registry).</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ValueScheme" type="allowed_attributetypes_type" use="optional" default="string">
            <xs:annotation>
                <xs:documentation>Used to specify that an element has a simple XML type (string, integer, etc)</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="CardinalityMin" type="cardinality_type" use="optional" default="1">
            <xs:annotation>
                <xs:documentation>Minimal number of occurrences.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="CardinalityMax" type="cardinality_type" use="optional" default="1">
            <xs:annotation>
                <xs:documentation>Maximal number of occurrences.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Multilingual" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>Indicates that this element can have values in multiple languages (and thus is repeatable). This will result in the possibility of using the xml:lang attribute in the metadata instances that are created.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute namespace="http://www.clarin.eu/cmd/cues/1" processContents="lax"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="component_attributes">
        <xs:annotation>
            <xs:appinfo>
                <sch:pattern id="c_atts">
                    <sch:title>Check component attributes</sch:title>
                    <sch:rule context="Component">
                        <sch:assert test="normalize-space(@name) != '' or normalize-space(@ComponentRef) != ''">A Component should have a name or a ComponentRef!</sch:assert>
                    </sch:rule>
                </sch:pattern>
                <sch:pattern id="c_ref">
                    <sch:title>Check component reference</sch:title>
                    <sch:rule context="ComponentSpec[@isProfile='false']/Component">
                        <sch:assert test="normalize-space(@ComponentRef) = ''">A root Component of a non-profile specification should not have a ComponentRef!</sch:assert>
                    </sch:rule>
                </sch:pattern>
            </xs:appinfo>
        </xs:annotation>
        <xs:attribute name="name" type="xs:NCName" use="optional"/>
        <xs:attribute name="ComponentRef" type="xs:anyURI" use="optional">
            <xs:annotation>
                <xs:documentation>Indicates that a component (using its unique Header/ID issued by the ComponentRegistry) should be included.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ConceptLink" type="xs:anyURI" use="optional">
            <xs:annotation>
                <xs:documentation>A link to the ISOcat data category registry (or any other concept registry). Currently not used.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="CardinalityMin" type="cardinality_type" use="optional" default="1"/>
        <xs:attribute name="CardinalityMax" type="cardinality_type" use="optional" default="1"/>
        <xs:attribute ref="xml:base" use="optional"/>
        <xs:anyAttribute namespace="http://www.clarin.eu/cmd/cues/1" processContents="lax"/>
    </xs:attributeGroup>


    <xs:simpleType name="cardinality_type">
        <xs:annotation>
            <xs:documentation>cardinality for elements and components</xs:documentation>
            <xs:appinfo>
                <sch:pattern id="c_card">
                    <sch:title>Check cardinalities</sch:title>
                    <!--
                        case minimum   maximum   check
                        1    UNK       UNK       OK
                        2    UNK       number    maximum ne 0
                        3    UNK       unbounded OK
                        4    number    UNK       minimum le 1
                        5    number    number    minimum le maximum
                        6    number    unbounded OK
                        7    unbounded UNK       NOK
                        8    unbounded number    NOK
                        9    unbounded unbounded OK

                        UNK can be either a missing attribute or an empty value, both can be detected with normalize-space(@...)=''

                        default CardinalityMin is 1 (based on the XSD minOccurs default value)
                        default CardinalityMax is 1 (based on the XSD maxOccurs default value)

                        If a basic XSLT 2.0 engine, like Saxon HE, is used for Schematron validation we can't cast to xs:nonNegativeInteger.
                        So we cast to xs:integer. The XSD validator should have already validated that the values are valid cardinality_types.
                    -->
                    <!-- skip case 1 -->
                    <!-- case 2 -->
                    <sch:rule context="*[(normalize-space(@CardinalityMin) = '')][@CardinalityMax castable as xs:integer]">
                        <sch:assert test="xs:integer(@CardinalityMax) ne 0">Maximum cardinality (0) cannot be lower than the default minimum cardinality (1)!</sch:assert>
                    </sch:rule>
                    <!-- skip case 3 -->
                    <!-- case 4 -->
                    <sch:rule context="*[@CardinalityMin castable as xs:integer][normalize-space(@CardinalityMax) = '']">
                        <sch:assert test="xs:integer(@CardinalityMin) le 1">Minimum cardinality (<sch:value-of select="@CardinalityMin"/>) should be lower or equal then the default maximum cardinality (1)!</sch:assert>
                    </sch:rule>
                    <!-- case 5 -->
                    <sch:rule context="*[@CardinalityMin castable as xs:integer][@CardinalityMax castable as xs:integer]">
                        <sch:assert test="xs:integer(@CardinalityMin) le xs:integer(@CardinalityMax)">Minimum cardinality (<sch:value-of select="@CardinalityMin"/>) should be lower or equal then the maximum cardinality (<sch:value-of select="@CardinalityMax"/>)!</sch:assert>
                    </sch:rule>
                    <!-- skip case 6 -->
                    <!-- case 7, 8 and 9 -->
                    <sch:rule context="*[@CardinalityMin = 'unbounded']">
                        <!-- case 7 and 8 -->
                        <sch:assert test="@CardinalityMax = 'unbounded'">Minimum cardinality (unbounded) can't be higher than the (default) maximum cardinality (<sch:value-of select="
                                    if (normalize-space(@CardinalityMax) = '') then
                                        ('1')
                                    else
                                        (@CardinalityMax)"/>)!</sch:assert>
                        <!-- skip case 9 -->
                    </sch:rule>
                </sch:pattern>
            </xs:appinfo>
        </xs:annotation>
        <xs:union>
            <xs:simpleType>
                <xs:list itemType="xs:nonNegativeInteger"/>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="unbounded"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

    <xs:simpleType name="allowed_attributetypes_type">
        <xs:annotation>
            <xs:documentation>Subset of XSD types that are allowed as CMD type</xs:documentation>
        </xs:annotation>

        <xs:restriction base="xs:token">
            <xs:enumeration value="boolean"/>
            <xs:enumeration value="decimal"/>
            <xs:enumeration value="float"/>
            <xs:enumeration value="int"/>
            <xs:enumeration value="string"/>
            <xs:enumeration value="anyURI"/>
            <xs:enumeration value="date"/>
            <xs:enumeration value="gDay"/>
            <xs:enumeration value="gMonth"/>
            <xs:enumeration value="gYear"/>
            <xs:enumeration value="time"/>
            <xs:enumeration value="dateTime"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="enumeration_type">
        <xs:annotation>
            <xs:documentation>controlled vocabularies</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="appinfo" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>End-user guidance about the value of the controlled vocabulary as a whole. Currently not used.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="item" type="item_type" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>An item from a controlled vocabulary.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="item_type">
        <xs:annotation>
            <xs:appinfo>
                <sch:pattern id="item">
                    <sch:title>CMD enumeration item</sch:title>
                    <sch:rule context="item">
                        <sch:assert test="count(key('enums', current(), current()/parent::enumeration)) eq 1">All items in an enumeration should be different. Found multiple items with value '<sch:value-of select="."/>'!</sch:assert>
                    </sch:rule>
                </sch:pattern>
            </xs:appinfo>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:anyURI" name="ConceptLink" use="optional">
                    <xs:annotation>
                        <xs:documentation>A link to the ISOcat data category registry (or any other concept registry) related to this controllec vocabulary item.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="xs:string" name="AppInfo" use="optional">
                    <xs:annotation>
                        <xs:documentation>End-user guidance about the value of this controlled vocabulary item.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:anyAttribute namespace="http://www.clarin.eu/cmd/cues/1" processContents="lax"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

</xs:schema>
