toolkit/components/avatech/avatech-recognizer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dcr="http://www.isocat.org">
   <xs:element name="CMD">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Header">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="MdCreator" type="xs:string" minOccurs="0"/>
                     <xs:element name="MdCreationDate" type="xs:date" minOccurs="0"/>
                     <xs:element name="MdSelfLink" type="xs:anyURI" minOccurs="0"/>
                     <xs:element name="MdProfile" type="xs:anyURI" minOccurs="0"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="Resources">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="ResourceProxyList">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceProxy">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element maxOccurs="1" minOccurs="1" name="ResourceType">
                                          <xs:simpleType>
                                             <xs:restriction base="xs:string">
                                                <xs:enumeration value="Metadata">
                                                   <xs:annotation>
                                                      <xs:documentation>The ResourceProxy
                                                  refers to another component
                                                  metadata instance (e.g. for
                                                  grouping metadata descriptions
                                                  into
                                                  collections)</xs:documentation>
                                                   </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration value="Resource">
                                                   <xs:annotation>
                                                      <xs:documentation>The ResourceProxy
                                                  refers to a file that is not a
                                                  metadata instance (e.g. a text
                                                  document)</xs:documentation>
                                                   </xs:annotation>
                                                </xs:enumeration>
                                             </xs:restriction>
                                          </xs:simpleType>
                                       </xs:element>
                                       <xs:element maxOccurs="1" minOccurs="1" name="ResourceRef" type="xs:anyURI"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:ID" use="required"/>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="JournalFileProxyList">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element maxOccurs="unbounded" minOccurs="0" name="JournalFileProxy">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element maxOccurs="1" minOccurs="1" name="JournalFileRef" type="xs:anyURI"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="ResourceRelationList">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element maxOccurs="unbounded" minOccurs="0" name="ResourceRelation">
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element maxOccurs="1" minOccurs="1" name="RelationType"/>
                                       <xs:element maxOccurs="1" minOccurs="1" name="Res1">
                                          <xs:complexType>
                                             <xs:attribute name="ref" type="xs:IDREF"/>
                                          </xs:complexType>
                                       </xs:element>
                                       <xs:element maxOccurs="1" minOccurs="1" name="Res2">
                                          <xs:complexType>
                                             <xs:attribute name="ref" type="xs:IDREF"/>
                                          </xs:complexType>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="Components">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="RECOGNIZER">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="recognizer">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="recognizerType">
                                             <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                   <xs:enumeration value="direct"/>
                                                   <xs:enumeration value="local"/>
                                                   <xs:enumeration value="shared"/>
                                                   <xs:enumeration value="remote"/>
                                                </xs:restriction>
                                             </xs:simpleType>
                                          </xs:attribute>
                                          <xs:attribute name="runLinux" type="xs:string"/>
                                          <xs:attribute name="runMac" type="xs:string"/>
                                          <xs:attribute name="runWin" type="xs:string"/>
                                          <xs:attribute name="info" type="xs:string"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="numparam" minOccurs="0" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="min" type="xs:float"/>
                                          <xs:attribute name="max" type="xs:float"/>
                                          <xs:attribute name="default" type="xs:float"/>
                                          <xs:attribute name="info" type="xs:string"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="textparam" minOccurs="0" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="convoc" type="xs:string"/>
                                          <xs:attribute name="default" type="xs:string"/>
                                          <xs:attribute name="info" type="xs:string"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="input" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="type">
                                             <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                   <xs:enumeration value="audio"/>
                                                   <xs:enumeration value="video"/>
                                                   <xs:enumeration value="tier"/>
                                                   <xs:enumeration value="csvtier"/>
                                                   <xs:enumeration value="timeseries"/>
                                                   <xs:enumeration value="csvtimeseries"/>
                                                   <xs:enumeration value="auxiliary"/>
                                                </xs:restriction>
                                             </xs:simpleType>
                                          </xs:attribute>
                                          <xs:attribute name="mimetypes" type="xs:string"/>
                                          <xs:attribute name="optional" type="xs:boolean"/>
                                          <xs:attribute name="info" type="xs:string"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="output" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="type">
                                             <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                   <xs:enumeration value="audio"/>
                                                   <xs:enumeration value="video"/>
                                                   <xs:enumeration value="tier"/>
                                                   <xs:enumeration value="csvtier"/>
                                                   <xs:enumeration value="timeseries"/>
                                                   <xs:enumeration value="csvtimeseries"/>
                                                   <xs:enumeration value="auxiliary"/>
                                                </xs:restriction>
                                             </xs:simpleType>
                                          </xs:attribute>
                                          <xs:attribute name="mimetypes" type="xs:string"/>
                                          <xs:attribute name="optional" type="xs:boolean"/>
                                          <xs:attribute name="info" type="xs:string"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="ref" type="xs:IDREF"/>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
